# Ignore everything in fairs except empty placeholder.
public/images/fairs/*
!public/images/fairs/empty

# Ignore everything in exhibitors except empty placeholder.
public/images/exhibitors/*
!public/images/exhibitors/empty

# Ignore everything in invoices except empty placeholder.
public/invoices/*
!public/invoices/fairs/empty
!public/invoices/tmp/empty

#Ignore the files in the lang folder
application/lang/*

# Ignore everything in tmp except empty placeholder.
public/images/tmp/*
!public/images/tmp/empty

# Ignore all host-specific configuration files, but not the distributied versions of them
config/*
!config/*.dist
!config/*.dev

# Ignore all local log files
*.log
