body {
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
	font-size:12px;
	max-height:1200px;
	background-attachment:fixed;
	background:#f8f8f8;
}
a img {
	border:none;
}
h1, h2, h3 {
	margin:0;
	padding:0;
}
h1 {
	padding-bottom:10px;
}
a {
	color:#168912;
}
a:hover {
	color:#333333;
}

#maintenance-message {
    position: absolute;
    z-index: 101;
    margin-bottom: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

#overlay {
	display:none;
	position:fixed;
	z-index:9999;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.dialogue {
	display:none;
	position: absolute;
	z-index:10000;
	width:400px;
	top:50%;
	left:50%;
	margin-left:-222px;
	margin-top:-200px;
	padding:20px;
	background:#ffffff;
	border:4px solid #333333;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	overflow:auto;
}

#arranger_message_popup.dialogue {
	position:fixed;
	z-index:10001;
}

.dialogue h3 {
	width:90%;
	word-wrap:break-word;
	overflow:hidden;
}

.closeDialogue label {
	display:block;
	width:100%;
	word-wrap:break-word;
	overflow:hidden;
}
.closeDialogue {
	float:right;
	cursor:pointer;
}
input[type="button"].closeDialogue {
	float: none;
	display: block;
	margin: auto;	
}

#nouser_dialogue {
	margin-left: -300px;
	width: 550px;
 	min-height: 150px;
 }

.nouser_cfslogo {
	width:518px;
	height:auto;
}

#nouser_dialogue .panel {
	width: 49%;
}

#nouser_dialogue .link-button {
	padding: 32px 0;
	width: 254px;
	border: 0;
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 16px;
}

#open_loginform {
	background-image: url('../images/button_icons/blue-new.png');
}

#open_loginform {
	background-image: url('../images/button_icons/blue-new.png');
}

#nouser_dialogue .registerlink {
	background-image: url('../images/button_icons/green-new.png');
}

#user_login_dialogue {
	display: none;
	margin-left: 15px;
}

.ui-icon-circle-triangle-e{
	background-image:url('../images/icons/pan_right.png') !important;
	background-position:0 !important;
}

.ui-icon-circle-triangle-w{
	background-image:url('../images/icons/pan_left.png') !important;
	background-position:0 !important;
}

/* Timepicker (jQuery Datepicker addon) */

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

/* Tooltips (jQuery UI) */

.ui-tooltip {
	z-index: 99999;
}

h1 {
	margin:0;
	color:#000000;
	font-size:1.5em;
}
h2 {
	margin:0;
	color:#128913;
	font-size:1.3em;
}
h3 {
	margin:0;
	color:#128913;
	font-size:1.1em;
}
label {
	display:block;
	max-width:250px;
	padding:8px 0 0 0;
	font-size:12px;
	font-weight:700;
}
label.inline-block {
	width:auto;
}

.form-one-row label {
	display: inline-block;
	width: 100px;
}

.form_column input[type=text], .form_column input[type=password], .form_colum textarea {
	border:1px solid #666666;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding:5px 3px 5px 3px;
	width:250px;
	font-family:Arial, Helvetica, Sans-serif;
	font-size:12px;
}

input[type=text], input[type=password], textarea {
	border:1px solid #666666;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding:5px 3px 5px 3px;
	width:200px;
	font-family:Arial, Helvetica, Sans-serif;
	font-size:12px;
}

input[type=button], input[type=submit], .td_button, .link-button {
	border:1px solid #666666;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding:5px 10px 5px 10px;
	font-family:Arial, Helvetica, Sans-serif;
	font-size:12px;
	background-image: -o-linear-gradient(bottom, #E2E3E3 0%, #FFFFFF 50%);
	background-image: -moz-linear-gradient(bottom, #E2E3E3 0%, #FFFFFF 50%);
	background-image: -webkit-linear-gradient(bottom, #E2E3E3 0%, #FFFFFF 50%);
	background-image: -ms-linear-gradient(bottom, #E2E3E3 0%, #FFFFFF 50%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E2E3E3), color-stop(0.50, #FFFFFF));
	background-image: linear-gradient(bottom, #E2E3E3 0%, #FFFFFF 50%);
	color:#000000;
	text-align: center;
}

.link-button {
	display: inline-block;
	text-decoration: none;
}

.td_button_disabled a {
	color: #891212;
}
textarea {
	width:300px;
	height:100px;
}

.save-btn[type=button], .save-btn[type=submit] {
	padding: 10px 0;
	width: 186px;
	background: url('../images/save_btn.png') no-repeat;
	border: 0;
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
	font-size: 28px;
	font-weight: bold;
	color: #fff;
	cursor:pointer;
}

.save-btn2[type=button], .save-btn2[type=submit] {
	padding: 5px 0;
	width: 100px;
	background: url('../images/save_btn.png') no-repeat;
	border: 0;
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
}

.open-excel-export {
	padding-bottom: 3px;
	background: #3d9538;
	border: 0;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
	font-size: 17px;
	color: #fff;
	cursor: pointer;
}

.button {
	background-color:#efefef;
	background-position:5px center;
	background-repeat:no-repeat;
	display:inline-block;
	padding:10px 5px 10px 5px;
	text-decoration:none;
	border:1px solid #b1b1b1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.button:hover {
	background-color:#dcdcdc;
	color:#168912;
}
.button.add {
	padding-left:40px;
	background-image:url("../images/icons/add_32x32.png");
}
.button.delete {
	padding-left:40px;
	background-image:url("../images/icons/delete_32x32.png");
}
.button.settings {
	padding-left:40px;
	background-image:url("../images/icons/settings_32x32.png");
}
.button.save {
	padding-left:40px;
	background-image:url("../images/icons/save_32x32.png");
}
.button.map {
	padding-left:40px;
	background-image:url("../images/icons/map_32x32.png");
}
.button.fullscreen {
	padding-left:40px;
	background-image:url("../images/icons/full_32x32.png");
}
.button.zoomin {
	padding-left:40px;
	background-image:url("../images/icons/zoom_in.png");
}
.button.zoomout {
	padding-left:40px;
	background-image:url("../images/icons/zoom_out.png");
}
.button.zoomneutral {
	padding-left:40px;
	background-image:url("../images/icons/zoom_neutral.png");
}

/*.tbld{
	max-width:1280px;
	float:left;
}

.tblHeader ul{
	border-collapse:collapse;
	font-size:11px;
	border-right:1px solid #000;
	float:left;
	margin:0;
	padding:0;
	border-top:1px solid #000;
	text-align:center;
	font-weight:bold;
	overflow:hidden;
}

.tblHeader ul li{
	display:inline;
	float:left;
	border-left:1px solid #000;
	padding:0px 5px 0px 5px;
}

.tblrow1{
	height:35px;
}

.scrolltbl{
	max-height:325px;
	overflow-y: scroll;
	float:left;

}

.scrolltbl .std_table thead tr {
	height: 32px;
}

.onlyfive{max-height:313px; overflow-y:auto;}
.onlythirteen{max-height:697px;}

h2.tblsite{
	float:left; width:100%;
	margin-top:20px;
}

.article_row{
	float:left;
	width:100%;
}

.article_row{
	float:left;
	width:100%;
}

.article_row p {
	width:20%;
	float:left;
	display:inline;
	margin:0;
	padding:0;
}*/

p.pricetag{width:150px;}
p.pricetag{margin:0; padding:0;}
p.pricetag input{margin:0; padding:0; margin-top:2px; height:23px; width:120px;}

.std_table, .std_table table {
	clear: both;
	border-collapse:collapse;
	font-size:12px;
	width: 100%;
	min-width:400px;
}

/*.scrolltbl .std_table, .scrolltbl .std_table table{
	min-width:400px;
}*/

.std_table th {
	padding:0 5px 0 5px;
	cursor:pointer;
	font-size:11px;

}
.std_table td, .std_table th {
	border:1px solid #666666;
	padding:8px 5px 8px 5px;
}
.std_table td a {
	text-decoration:none;
}

.std_table tbody tr:nth-child(odd) {
	background-color:#d4d4d4;
}
.std_table tbody tr:nth-child(even) {
	background-color:#efefef;
}
.std_table tbody tr:hover {
	background:#b1b1b1;
}

.std_table tbody{border-top:1px solid #000;}

/*.std_table tr th.header{border-top:1px solid #000; border-left:1px solid #000;}*/
.std_table tr{border-right:1px solid #000; border-left:1px solid #000;}

/*ul.tablehead{
	display:inline;
	padding:0;
}

ul.tablehead li{
	display:inline;
	padding:0;
}*/
.pager p{
	display:inline;
	padding:0px 5px 0px 0px; float:left;
	cursor:pointer;
	margin:0px 5px 0px 0px;
}

.pager p:hover{
	color:#128913;
}
.pagercomment{
	margin:5px 0 0 0;
	padding:0;
}



.form_column {
	display:inline-block;
	width:300px;
	vertical-align:top;
}
.inline-block {
	display:inline-block;
}
.floatright {
	float:right
}
.floatleft {
	float:left;
}
.clear {
	clear:both;
}
.flat {
	margin:0;
	padding:0;
}
.center {
	text-align:center;
}
.right {
	text-align: right;
}
.error {
	color:red;
}
.ok {
	color:green;
}
.crossedout, .std_table td a.crossedout {
	text-decoration:line-through;
}
.hidden {
	display:none;
}


.icon {
	cursor: pointer;
	width: 16px;
}