#header {
	height:35px;
	padding-top:9px;
	background:url("../images/top_bar_slice.png") repeat-x;
	text-align:center;
}
img#logo {
	position:absolute;
	left:21px;
	top:7px;
}
#loggedin_user {
	position:absolute;
	right:150px;
	top:15px;
	font-weight:bold;
	width:150px;
	text-align:right;
}
#loggedin_user a {
	color:#000000;
	text-decoration:none;
}
#loggedin_user img {
	margin-right:10px;
	vertical-align:middle;
}
#languages {
	position:absolute;
	z-index:999;
	vertical-align:top;
	right:21px;
	top:11px;
	margin:0;
	height:31px;
	overflow:hidden;
}
#languages:hover {
	height:124px;
}
#languages a {
	display:block;
	height:23px;
	padding-top:8px;
	text-align:center;
	width:110px;
	color:#000000;
	background:#e4e4e4;
	text-decoration:none;
	text-transform:uppercase;
	cursor:pointer;
}
#languages a:hover {
	background:#cccccc;
}
#languages a:first-child {
	border-top-right-radius:7px;
	border-top-left-radius:7px;
}
#fair_select {
	/*position:absolute;
	left:50%;
	margin-left:360px;
	margin-top:55px;*/
}
#fair_select_p {
	position:absolute;
	left:50%;
	margin-left:280px;
	margin-top:55px;
}
#header ul {
	list-style-type:none;
	padding:0;
	margin:0;
	vertical-align:top;
	text-align:center;
}
#header ul li {
	display:inline-block;
	vertical-align:top;
}
#header ul li a, #header ul li span {
	display:block;
	height:31px;
	line-height:31px;
	padding-top:0px;
	text-align:center;
	width:150px;
	border:1px solid #e4e4e4;
	color:#000000;
	background:#cfcfcf;
	border-top-right-radius:7px;
	border-top-left-radius:7px;
	text-decoration:none;
	text-transform:uppercase;
	cursor:pointer;
}
#header ul li img {
	vertical-align:middle;
	margin-right:8px;
}
#header ul li a:hover, #header ul li span:hover {
	background:#ffffff;
	color:#168912;
}
#header ul li ul {
	display:none;
	width:auto;
	margin:0;
}
#header ul li:hover ul {
	display:block;
	position:relative;
	z-index:99999;
}
#header ul li ul li {
	display:block;
	border-top:2px solid #ffffff;
}
#header ul li ul li a, #header ul li ul li span {
	border-top-right-radius:0px;
	border-top-left-radius:0px;
}
#header ul li .icon {
	/*padding-left:32px;
	width:128px;*/
}
#print {
	position:absolute;
	left:50%;
	margin-left:-490px;
	top:140px;
	cursor:pointer;
}
#fair_logo {
	position:absolute;
	left:50%;
	top:15px;
	margin-left:-50px;
	max-height:50px;
}
#save_confirm {
	position:fixed;
	z-index:1000;
	top:50%;
	left:50%;
	width:240px;
	height:140px;
	margin:-101px 0 0 -121px;
	border:2px solid #168912;
	color:#168912;
	background:#ffffff;
	font-size:1.3em;
	text-align:center;
	display:none;
}
#confirmBox {
	position:fixed;
	z-index:10000;
	top:50%;
	left:50%;
	width:400px;
	height:250px;
	margin:-126px 0 0 -201px;
	border:2px solid #168912;
	color:#168912;
	background:#ffffff;
	font-size:1.3em;
	text-align:center;
	display:none;
}
#wrapper {
	width:100%;
	margin:0 auto;
}
#footer {
	width:800px;
	margin:0 auto;
	padding-top:10px;
	text-align:center;
}
#sidebar {
	position:absolute;
	width:194px;
	-moz-box-shadow:3px 3px 3px 1px #888;
	-webkit-box-shadow:3px 3px 3px 1px #888;
	box-shadow:3px 3px 3px 1px #888;
	margin:0 0 0 -210px;
}
#sidebar p {
	background:#158111;
	color:#ffffff;
	margin:0;
	padding:5px;
}
#map_nav {
	list-style-type:none;
	margin:0;
	padding:0;
}
#map_nav li {
	margin-top:4px;
}
#map_nav li a {
	font-family: 'Simonetta', cursive;
	display:block;
	height:24px;
	padding-top:10px;
	text-align:center;
	color:#ffffff;
	background:#168912;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	cursor:pointer;
}
#map_nav li:nth-child(odd) a {
	background:#ffffff;
	color:#168912;
}
#content {
	border:1px solid #868686;
	background:#ffffff;
	min-height:400px;
	padding:20px;
	min-width: 984px;
	display: table;
	margin:24px auto;
}

#permission_box {
	width:300px;
	height:360px;
	border:1px solid #999;
	float:right;
	overflow:auto;
	margin-top:50px;
}
#permission_search {
	position:absolute;
	margin:0 0 0 690px;
}
#permission_box h2 {
	position:absolute;
	margin:-80px 0 0 0;
}
#permission_box .fair {
	border-bottom:1px dotted #666;
}
#permission_box .fair:nth-of-type(2n) {
	background-color: #efefef;
}
#permission_box .fair:nth-of-type(2n+1) {
	background-color: #cccccc;
}
#permission_box .fair p {
	display:none;
	padding-left:20px;
}

#arranger-info {
	background-color: #000000;
}
#arranger-details {
	clear: both;
}

#article_dialogue{
	width:800px;
	border:2px solid #000;
	position:fixed;
	top:20%;
	left:50%;
	margin-left:-400px;
	z-index:99999;
	display:none;
	border-radius:10px;
	background-color: #bebebe;
}

#article_dialogue h2{
	text-align:left;
	color:#fff;
	width:40%;
	font-size:20px;
	margin-left:25px;
	float:left;
}

#article_dialogue .search {
	float:right;
}
#article_dialogue ul{
	margin:0;
	padding:0;
	float:left;
	width:100%;
	max-height:400px;
	overflow-y:scroll;
}

#article_dialogue ul li{
	display:inline-block;
	width:100%;
	background-color:#bfdecc;
	float:left;
}

#article_dialogue input{
	border:none;
	border-radius:0px;
	padding:1px;
	width:150px;
}

#article_dialogue ul li h3{
	border-bottom:2px solid #a9a9a9;
	text-align:left;
	color:#1e8f4d;
	height:30px;
	padding-left:10px;
	padding-top:10px;
	font-weight:300;
	background-color:#bfdecc;
	font-size:16px;
	cursor:pointer;
}

#article_dialogue ul li ul{
	background-color:#fff;
	color:#fff;
	font-size:12px;
	float:left;
	display:none;
	overflow-y:hidden;
}

#article_dialogue ul li ul li{
	background-color:#fff;
}

#article_dialogue ul li ul li table{
	border:0px;
	width:100%;
	border-collapse:collapse;
}

#article_dialogue table{
	width:785px;
	border-collapse:collapse;
}

#article_dialogue ul li ul li table tr{border-top:2px solid #a9a9a9;  height:40px;}
#article_dialogue ul li ul li table tr:nth-child(1){border-top:0px solid #a9a9a9;  height:40px;}
#article_dialogue table tr th{border-right:2px solid #dedede; color:#fff;}
#article_dialogue table tr th:nth-child(5){border-right:0;}
#article_dialogue ul li ul li table tr td{color:#000; border-right:2px solid #a9a9a9; text-align:center; }
#article_dialogue ul li ul li table tr td:nth-child(5){border-right:0;}
#article_dialogue ul li ul li table tr th:nth-child(5){border-right:0;}
#article_dialogue ul li ul li table tr td p{float:left; margin-left:30px;}

.float-left {
	float: left;
	width: 300px;
}
.fair-info {
	margin-top: 10px;
	padding: 15px;
}
.fair-info:nth-of-type(2n) {
	background-color: #efefef;
}
.fair-info:nth-of-type(2n+1) {
	background-color: #cccccc;
}
.boldtext {
	font-weight: bold;
}
.IsDisabled{
	cursor: default;
}

.article_categories{
	width:95%;
	margin:10px auto 0 auto;
	background-color:#fff;
	border:1px solid #000;
	margin: 10px 0px 0 8px;
	float:left;
}
	.article_categories .art_header{
		border-bottom: 1px solid #000;
		padding: 0;
		float: left;
		width: 100%;
		
		background-color: #118945;
	}

	.art_header p{
		margin: 2px 0px 0px 60px;
		font-weight: bold;
		padding: 0;
		float:left;
	}
	
	.art_cat_total{
		float:right !important;
		margin-left:0 !important;
		margin-right:50px !important;
		text-align:left;
	}

	.article_categories .article{
		width:100%;
	}

	.article_categories .article span{
		margin: 5px 0px 5px 5px;
		overflow:hidden;
		float: left;
	}
	
	.article_categories .article span.artnr{width: 50px;}
	.article_categories .article span.artname{width: 110px;}
	.article_categories .article span.artprice{width: 65px;}
	.article_categories .article span.amount{width: 40px;}
	.article_categories .article span.total{width: 65px;}

.add_custom_fee_dialogue{
	position:fixed;
	top:100px;
	left:50%;
	width:300px;
	height:150px;
	margin-left:-100px;
	z-index:9999;
	display:none;
	background:#fff;
	padding:20px;
	border:4px solid #333333;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

.add_custom_fee_dialogue h2{
	text-align:center;
}

.add_custom_fee_dialogue p{
	font-weight:bold;
}

.add_custom_fee_dialogue p:nth-child(1){
		margin:30px 0 0 0;
}

.add_custom_fee_dialogue button{
	text-align:center;
}

#popupform {
	position:absolute;
	z-index:99999;
	background:#ffffff;
	width:300px;
	height:250px;
	text-align:left;
	left:50%;
	top:300px;
	margin:0 0 0 -154px;
	border:4px solid #333333;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

#popupformTwo {
	position:absolute;
	z-index:99999;
	background:#ffffff;
	text-align:left;
	border:4px solid #333333;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

#popupform div {
	width: 200px;
	position: absolute;
	left: 50%;
	margin-left: -105px;
	margin-top: 30px;
}
#popupform p {
	text-align:center;
}

#popupform_register {
	position:absolute;
	z-index:99999;
	background:#ffffff;
	width:800px;
	height: auto;
	text-align:left;
	left:50%;
	top:30px;
	margin:0 0 0 -400px;
	border:4px solid #333333;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	padding:20px 0 0 40px;
}

#iframeholder{
	max-width:960px;
}
#iframeContent h1{
	font-size:14px;
}
