/* Basic reset */
* {margin: 0; padding: 0;}

::-webkit-scrollbar 
{
   width: 0.833em;
   height: 0.833em;
}
::-webkit-scrollbar-track
{
   -webkit-box-shadow: inset 0 0 0.5em rgba(0,0,0,0.3);
   border-radius:0.166em;
}
::-webkit-scrollbar-thumb
{
   background-color: #5BA538;
   border-radius:0.166em;
}
/* HEADER AND ITS DESCENDANTS */

#header {
	display:none;
	height:2.917em;
	padding-top:0.75em;
	background:#3c3c3c;
	text-align:center;
	box-sizing: content-box;
}
#new_header_show {
    z-index: 10000;
    position: fixed;
    display: block;
    top: 5vh;
    font-size: 1.4vw;
    opacity: 0.97;
    background-color: #48A648;
    border: none;
    border-radius: 0 0.4vw 0.4vw 0;
    word-break: break-word;
    padding: 1vh;
    padding-bottom: 4vw;
    background-size: 2.5vw;
    color: #FFF;
    background-position: center bottom 1.5vh;
    background-repeat:no-repeat;
    background-image:url("../images/icons/mainmenu_arrow.png");
}
#new_header_hide {
	z-index:10000;
    position: fixed;
    display: none;
    top: 5vh;
    left: 12.5em;			
    font-size:2em;
    opacity: 0.97;
    background-color: #48A648;
    transform: rotate(90deg);
    transform-origin: left top 0;		    
    border:none;
    border-radius: 0.416em 0.416em 0 0;
    word-break:break-word;
    padding:0.66em;
    color:#FFF;
}
#new_header {
	display:none;
	position:fixed;
	z-index: 10000;
	opacity:0.97;
	height:100%;
	width: 20em;
	background:#48A648;
	text-align:center;
	box-sizing: content-box;
}
/*****************
NEW SETTINGS FOR GREEN MAIN MENU
************************/
#new_header li {
	position: static;
	width: auto;
	list-style: none;
	white-space: nowrap;
	text-align:left;
	cursor:pointer;
}
#new_header > ul > li > a {
	padding-left:3em;
}
#new_header li a {
	line-height:2em;
	font-size:1.15em;
	text-decoration: none;
	display:block;
}
#new_header ul li .menu-wrapper ul li a {
	padding: 0em 1.5em;
}
#new_header > ul > li:hover, #new_header > ul > li > .menu-wrapper > ul > li:hover, #new_header > ul > li > .menu-wrapper > ul > li > .menu-wrapper > ul > li:hover {
	background:#ffffff !important;
}
#new_header > ul > li:hover > a, #new_header > ul > li > .menu-wrapper > ul > li:hover > a, #new_header > ul > li > .menu-wrapper > ul > li > .menu-wrapper > ul > li:hover > a {
	color:#168912 !important;
}
#new_header > ul > li:hover > .sub-menu-arrow, #new_header > ul > li > .menu-wrapper > ul > li:hover > .sub-menu-arrow, #new_header > ul > li > .menu-wrapper > ul > li > .menu-wrapper > ul > li:hover > .sub-menu-arrow {
	filter: invert(100%);
}

#new_header li a, #new_header li {
	color: #FFF;
}
@media screen and (max-height : 766px) {
	#new_header ul li a, #new_header ul li span {
		height:2em;
	}
	#languages {
		padding-top: 1vh !important;
		margin-left:-2em;
	}
	#popupform_register {
		margin-top: 0 !important;
	}
}
#new_header ul li img {
	margin-right:0.667em;
}
#new_header ul ul {
	max-height: 25vh;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-box-shadow: inset 0 0 20px 20px #4ea94e;
}
.menu-wrapper {
  /* the wrapper acts as the submenus' positioned parent */
  position: relative;
  background:#48A648;
}
.sub-menu-arrow {
    float: right;
    height: 2.2em;
    padding: 0.3em 1em 0.3em 0;
    filter: invert(0%);
    margin-right:0 !important;
}
li .menu-wrapper ul::-webkit-scrollbar-thumb {
	background-color: #b1b1b1;
}
li .menu-wrapper {
	/* position on top of the menu item */
	position: absolute;

	/* these are not useful because our positioned parent is not the menu item */
	/* top: 0; */
	/* left: 75%; */

	/* show on top of the menu item */
	z-index: 10;

	/* do not show the submenu by default */
	display: none;
}

/* display the submenu when we hover on the menu item */
li.parent:hover > .menu-wrapper {
	display: block;
}
.defaultcursor {
	cursor:default !important;
}
#loggedin_user {
	position:absolute;
	left:4.167em;
	top:1.25em;
	font-weight:bold;
	width:12.5em;
	text-align:right;
}
#loggedin_user a {
	color:#FFFFFF;
	text-decoration:none;
}
#loggedin_user img {
	margin-right:0.833em;
	vertical-align:middle;
}
#languages {
	padding-top: 3vh;
	margin-left:-2em;
}
#languages a {
	display:inline;
}
#languages a:hover {
	background:#cccccc;
}

/* HEADER END */


/*Rendered Floating Table Header*/
table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #5BA538;
    color: #FFF;
}
thead {
	border-bottom: 1px solid rgba(176, 157, 157, 0.38);
}
li.active {
	font-weight:bold;
}
.dt-blueButton {
	background-color: #337ab7;
	margin-left: 0;
	color: #FFF;
}
.nav {
	border-bottom:none;
	max-width:90em;
}
.tab-content {
	border-top:1px solid rgb(221, 221, 221);
	padding-top:1em;
}
img#header_fair_logo {
	max-width: 18em;
	margin: 3vh 0;
}
img#header_logo {
	width: 14em;
    position: absolute;
    bottom: 2em;
    left: 2em;
}
img#logo {
	position:absolute;
	right:10em;
	top:0.583em;
}
#ex_logo {
	max-width: 20em;
	display: inline-block;
	border: none;
	max-height: 7em;
	margin-top: 2em;
}
#logo-text {
	float:right;
	clear:right;
	color:#FFFFFF;
	font-weight:bold;
	margin-top: 1.25em;
	margin-right: 0.833em;
}

/*#languages a:first-child {
	border-top-right-radius:7px;
	border-top-left-radius:7px;
}
#fair_select {
	position:absolute;
	left:50%;
	margin-left:360px;
	margin-top:55px;
}
*/
#fair_select_p {
	position:absolute;
	left:50%;
	margin-left:23.333em;
	margin-top:4.583em;
}
#dl-menu {
	display:none;
}
#printProfileLink {
	float: right;
	margin: 1em;
}
#print {
	position:absolute;
	left:50%;
	margin-left:-40.833em;
	top:11.66em;
	cursor:pointer;
}
#fair_logo {
	position:absolute;
	left:50%;
	top:1.25em;
	margin-left:-4.166em;
	max-height:4.166em;
}
#save_confirm {
	position:fixed;
	z-index:9999999;
	top:50%;
	left:50%;
	width:25em;
	height:13.33em;
	padding: 1.25em;
	margin:-8.416em 0 0 -10.0833em;
	border:1px solid #000;
	color:#168912;
	background:#ffffff;
	font-size:1.3em;
	text-align:center;
	display:none;
}
#delete_confirm {
	position:fixed;
	z-index:1000;
	top:50%;
	left:50%;
	width:20em;
	height:11.66em;
	margin:-8.416em 0 0 -10.0833em;
	border:1px solid #000;
	color:#168912;
	background:#ffffff;
	font-size:1.3em;
	text-align:center;
	display:none;
}
#confirmBox, #cfs_info_div{
	position:fixed;
	padding: 4em 4em 3em 4em;
	z-index:10001;
	top:20vh;
	left:33vw;
	overflow:auto;
	max-width:41.66em;
	max-height:50vh;
	border:1px solid #000;
	color:#000;
	background:#ffffff;
	font-size:1.2em;
	text-align:center;
	display:none;
}
#confirmBox .msg, #cfs_info_div .msg{
	margin-top:0;
	margin-bottom: 1.3em;
	max-height:40vh;
	overflow-y:auto;
	word-break: break-word;

}
#alertBox {
	position:fixed;
	padding: 3em 3em 0em 3em;
	z-index:10000;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	overflow:auto;
	max-width:30vw;
	min-width:25vw;
	max-height:50vh;
	border:1px solid #000;
	color:#000;
	background:#ffffff;
	font-size:1.2em;
	text-align:center;
	display:none;
	word-break: normal;
}
#alertBox * {
	display:inline-block;
}
#alertBox .msg {
	margin-bottom: 1.3em;
	max-height:40vh;
	overflow-y:auto;
	word-break: break-word;
}
#alertBox2 {
	position:fixed;
	padding: 1.66em;
	z-index:99999;
	top:50%;
	left:50%;
	overflow:auto;
	width:33.33em;
	max-height:20.833em;
	border:1px solid #000;
	margin:-10.5em 0 0 -16.75em;
	color:#000;
	background:#ffffff;
	font-size:1.2em;
	text-align:center;
	display:none;
}
.dialog-link {
	position: absolute;
	bottom: 0.833em;
	left: 0.833em;
}
.dialog-text {
	margin: 0.833em;
	font-size: 0.8em;
	color: #000;
}
#wrapper {
	background-color:#FDFDFD;
	width:100%;
	margin:0 auto;
	min-width:82em;
}
.nav>li>a {
	padding: 0.833em 1.25em;
}
#footer {
	width:66.66em;
	margin:0 auto;
	padding-top:0.833em;
	text-align:center;
}
#sidebar {
	position:absolute;
	width:16.166em;
	-moz-box-shadow:0.25em 0.25em 0.25em 1px #888;
	-webkit-box-shadow:0.25em 0.25em 0.25em 1px #888;
	box-shadow:0.25em 0.25em 0.25em 1px #888;
	margin:0 0 0 -17.5em;
}
#sidebar p {
	background:#158111;
	color:#ffffff;
	margin:0;
	padding:0.416em;
}
#map_nav {
	list-style-type:none;
	margin:0;
	padding:0;
}
#map_nav li {
	margin-top:0.33em;
}
#map_nav li a {
	font-family: 'Simonetta', cursive;
	display:block;
	height:2em;
	padding-top:0.833em;
	text-align:center;
	color:#ffffff;
	background:#168912;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	cursor:pointer;
}
#map_nav li:nth-child(odd) a {
	background:#ffffff;
	color:#168912;
}
.mceEditor > table {
	width:48em !important;
	height:8.33em !important;
}

.defaultSkin * {
	max-width:58.33em !important;
}
#content {
/*	border:1px solid #868686;
	background:#ffffff;*/
	min-height:33.33em;
	padding:1.66em;
	min-width: 82em;
	display: table;
	margin: 2em auto;
	margin-top: 0;
	padding-top: 4vh;
}
#permission_box {
	width:25em;
	height:30em;
	border:1px solid #999;
	float:right;
	overflow:auto;
	margin-top:4.166em;
}/*
#permission_search {
	position:absolute;
	margin:0 0 0 642px;
}*/
#permission_box h2 {
	position:absolute;
	margin:-2.5em 0 0 0;
}
#permission_box .fair {
	border-bottom:1px dotted #666;
}
#permission_box .fair:nth-of-type(2n) {
	background-color: #efefef;
}
#permission_box .fair:nth-of-type(2n+1) {
	background-color: #cccccc;
}
#permission_box .fair p {
	display:none;
	padding-left:1.66em;
}

#arranger-info {
	background-color: #000000;
}
#arranger-details {
	clear: both;
}
.float-left {
	float: left;
	width: 25em;
}
.fair-info {
	margin-top: 0.833em;
	padding: 1.25em;
}
.fair-info:nth-of-type(2n) {
	background-color: #efefef;
}
.fair-info:nth-of-type(2n+1) {
	background-color: #cccccc;
}
.boldtext {
	font-weight: 600;
}
.IsDisabled{
	cursor: default;
}
#popupform_login {
	z-index: 10001;
	width: 48.33em;
	height: 49.576em;
 	min-height: 12.5em;
	border: 1px solid #333333;
	position: fixed;
 	padding-bottom: 45em;
}
#popupform_login .login_textfield {
    border: 1px solid rgb(221, 221, 221);
    padding: 0.25em;
	max-width: 25em;
    width: 100%;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.5em;
    margin: 0.166em 0.5em 1.33em 0;
    box-shadow: 0px 1px 0.166em rgba(0, 0, 0, 0.07) inset;
    outline: 0px none;
        outline-width: 0px;
        outline-style: none;
        outline-color: -moz-use-text-color;
    transition: border-color 0.05s ease-in-out 0s;
    border-radius: 0;
    font-weight: inherit;
    box-sizing: border-box;
    line-height: 1.5;
}
#popupform_login p.logo_text{
	text-align: right;
	padding-right: 5em;
	margin-top: -1.66em;
	font-size: 1em;
}
#popupform_login div div {
	position: absolute;
	left: 50%;
	margin-left: -22%;
}
#popupform_login p {
	text-align:center;
}

#popupform_login .error {
    margin-top: 0;
	margin-bottom: 1px;
	min-height: 1.416em;
}

p.forgot{
color:#116734; 
font-size:1.2em; 
font-weight:bold;
}

.dialog-content {
	margin: 0.833em;
}

.dialog-content textarea {
	width: 97%;
}
.popup {
	border-radius: 0.4em;
}
#contactPopup {
	position:absolute;
	z-index:99999;
	background:#ffffff;
	width: auto;
	min-width: 30em;
	max-height:85%;
	text-align:left;
	left:38%;
	top:2.5em;
	margin:0 0 0 -20.833em;
	border:1px solid #333333;
	border-top: 5em solid #47a547;
	padding: 0 1.66em 1.66em 1.66em;
	overflow:visible;
}

#popupform_help, #rulesPopup {
	position:absolute;
	z-index:99999;
	background:#ffffff;
	width: 66.66em;
	max-height:85%;
	text-align:left;
	left:38%;
	top:2.5em;
	margin:0 0 0 -20.833em;
	border:1px solid #333333;
	border-top: 5em solid #47a547;
	padding: 0 2.66em 2.66em 2.66em;
	overflow:visible;
}

#popupform_help h1, #contactPopup > h1:nth-of-type(1), #rulesPopup > h1:nth-of-type(1) {
	padding:1.2em 1.2em 2em;
	color: #FFF;
	margin-left: -1.2em;
	margin-top: -3.35em;
	width:90%;
	word-wrap:break-word;
	overflow:hidden;
}
.rulesSpan {
	font-size: 1.3em;
}

#help_content, #rules_content {
	overflow-y:auto;
	height: 42.5vh;
	max-width: 82em;
	max-height: 54em;
}
#rulesPopup > h1:nth-of-type(2) {
    padding: 0px;
    font-size: 2em;
    margin: 0.5em 0;
    color: #000000;
    overflow: visible;
}
#help_content h2 {
	cursor: pointer;
	padding: 0.833em;
	background:url("../images/button_icons/helpcategory-notselected.jpg");
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	width: auto;
}

#help_content h2:hover {
	background:url("../images/button_icons/helpcategory-selected.jpg");
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	width: auto;
	
}

#help_content p {
	display: none;
	margin-left: 1.5%;
}

#help_content p:nth-of-type(2){
	display: block;
}
#popupform_register {
	position:fixed;
	z-index:99999;
	background:#ffffff;
	text-align:left;
	top:20%;
	left:50%;
	transform: translate(-50%, -50%);
	border:1px solid #333333;
	border-top: 4em solid #47a547;
}

#popupform_register .closeDialogue {
	margin-top: -3.4em;
}
#reserveform_invoice_info {
	font-weight: 600;
	margin-right: 8em;
}
#invoice_obs_title {
	margin-top: 1em;
	color: red;
	padding: 0;
}
label[for=presentation]{
	width: 41.66em;
	max-width: 41.66em;
}
#review_prel_dialogue label {
	max-width:100%;
	font-size:1.083em;	
}
#review_message{
	margin-right:1em;
}
/*
#review_prel_dialogue {
	max-height:50em;
}*/
#review_message_label {
	margin-top:1em;
}
.review_column1 {
	padding-right: 1em;
}
.review_column2 {
	padding-left: 1em;
}
#review_div {
	max-height:20em;
	overflow:auto;
}
#review_prel_dialogue p, #review_book_dialogue p, #review_reserve_dialogue p {
	margin:0;
}
.totalprice {
	font-size: 1.66em;
	float:right;
	padding-right: 0.9em !important;
	text-align: right !important;
}
.preliminary_totalprice {
	padding: 0;
	text-align: right;
	font-size: 1em;
	float:right;
}
.total {
	text-align: right;
}
.cents {
	float:right;
}
#review_prel_dialogue td, th {
	padding: 1px 1.66em;
}
#review_book_dialogue td, th {
	padding: 1px 1.66em;
}
#review_reserve_dialogue td, th {
	padding: 1px 1.66em;
}
#review_list2 td {
	text-align: left;
}
#review_prel_dialogue .no-search {
	max-height:48em;
}
.helpicon {
  width: auto;
  height: auto;
  margin-bottom: 0.25em;
  padding: 0;
  vertical-align: middle;
}

.helpicon_search_commodity{
	margin-bottom:-0.416em;
	margin-left: 0.416em;
}

.helpicon_map {
	margin-bottom: -0.416em;
	margin-left: 0.416em;	
}

.languages {
	text-align: center;
}

.languages a {
	font-size: 1.5em;
	text-decoration: none;
	color: black;
}

.languages h1 {
	color: #00652C;
}

.languages #logoBig {
	width: 40%;
}

.languages span {
	display: block;
}

.languageGroup .language {
	display: inline-block;
	margin: 1.66em 2.5em;
}
#preliminary_bookings_dialogue {
	width: 70em;
}

#book_position_dialogue {
	z-index: 99999;
}

#showUserDialogue table {
	margin-bottom: 1.66em;
}

.optionsWhenBooking {
	float: left;
	margin-left: 3.33em;
}

.contactInfoWrapper {
	clear: left;
}

.tableNoBorder td {
	padding-right: 1.66em;
}
.td-number-span {
	max-width: 5em;
	min-width: 8em;
}
.input-group-addon {
	padding: 0em 0.416em;
	font-size:0.833em;
}
.form-control, .bfh-number {
	text-align:center;
	height: 2.833em;

}
.export-group {
	display: inline-block;
	vertical-align: top;
	margin-right: 0.833em;
}

.export-group label {
	font-weight: 200;
}

#sms_send_chars_count {
	float:right;
}
#sms_send_popup .closeDialogue {
	margin-top: -5.4em;
}
#sms_send_popup .dialog-tab {
	overflow: auto;
	height: 8.33em;
}
#sms_send_popup h2 {
	padding:0.8em 1.2em 2em;
	color: #FFF;
	margin-left: -1.2em;
	margin-top: -3.9em;
	width:90%;
	word-wrap:break-word;
	overflow:hidden;	
}

.icon_sms_popup {
	width: 2.5em;
	height: 2.5em;
}

.terms-scrollbox {
	overflow: auto;
	padding: 0.833em;
	max-width: 75em;
	max-height: 33.33em;
	border: 1px solid #000;
}
.pub-scrollbox {
	overflow: auto;
	padding: 0.833em;
	max-width: 75em;
	max-height: 33.33em;
	border: 1px solid #000;
}
#note_dialogue {
	max-width: 50em;
 	min-height: 12.5em;
	top: 40%;
 }

 #note_edit_dialogue{
 	position: fixed;
 	min-width: 41.66em;
 	display: block;
 }
  #note_edit_dialogue h3:first-child, #note_dialogue h3:first-child {
 	padding:1.2em 1.2em 3em;
	color: #FFF;
	margin-left: -1.2em;
	margin-top: -3.8em;
	width:98%;
	word-wrap:break-word;
	overflow:hidden;	 	
 }
.commentList {
	clear: both;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 1.66em 0;
	width: 100%;
	max-height: 28vh;
	background-color: rgba(246, 246, 246, 0.68);
}

.commentList ul {
	display: block;
	margin: 0;
	padding: 0;
}
.js-comment-action {
	margin-right: 0.416em;
}

.commentList ul li {
	display: block;
	margin: 0;
	padding: 0.66em 0.833em;
	word-break: break-all;
}

.comment {
	border-top: 0.166em solid rgba(0, 0, 0, 0.3);
	margin-top: 0.416em;
	padding: 0.416em 0.833em 0.833em 0;
}

.comment p {
	margin: 0.3em 0;
	word-break: break-word;
}

.comment-negative {
	color: #9c4e4e;
}

.comment-neutral {
	color: #4d5f9b;
}

.comment-positive {
	color: #168912;
}
.insert_comment_text{
	width: 33.33em;
}

#sms_send_popup h1 {
	color: #168912;
}

.action-edit, .action-delete {
	clear:both;
	font-weight: 600;
	text-decoration: none;
}

.action-edit {
	color: #168912;
}

.action-delete {
	color: #9c4e4e;
}
#required {
	margin-left: 0.25em;
}
.column {
	width: 49.7%;
	display: inline-block;
	padding-top: 1em;
	vertical-align: top;
}
.select-list-menu {
	padding:0;
	margin-left: -8.33em;
	text-align: left;
	list-style-type:none;
	position:fixed;
	z-index:1001;
	background:#efefef;
	border:1px solid #b1b1b1;
	display:none;
	min-width:12.5em;
}

.select-list-menu li {
	border-top:1px solid #b1b1b1;
	color:#333333;
	padding:0.416em 0.833em;
	cursor:pointer;
}
.select-list-menu li:hover {
	background:#bcbcbc;
}

.select-list-menu li:first-child {
	border-top:none;
}
.select-list-menu a li img {
	padding-right:0.416em;
}
.column33 {
	width: 33%;
	display:inline-block;
}
.clearlooks2, .clearlooks2 div, .clearlooks2 span, .clearlooks2 a {
	overflow:visible !important;
}